#temp{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 5rem;
}

#name{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;
    margin-top: 5px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainImg{
    width: 50%;
}

.center{
    text-align: center;
}

.info{
    font-size: 1.2rem;
}

#desc{
    text-align: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 15px 0px;
}

.details{
    display: flex;
    justify-content: space-around;
    color: white;
    width:100%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.info{
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.setrise{
    display: flex;
    justify-content: space-around;
    width:100%;
    color: white;
    font-size: 1.9rem;
}